<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="https://www.seekpng.com/png/full/41-410093_circled-user-icon-user-profile-icon-png.png" alt="" />

                </div>
            </div>
            <div class="col-md-4">
                <div class="profile-head">
                    <h4>
                        {{firstname}} {{lastname}}
                    </h4>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#usages" role="tab" aria-controls="usages" aria-selected="false">Usages</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-danger" name="btnAddMore" (click)=remove()>Delete Profile</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Consumer ID :</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{consumerid}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name :</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{firstname}} {{lastname}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email :</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{email}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone :</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{phone}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Address :</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{address}}</p>
                                <p>{{city}}</p>
                                <p>Pincode: {{pincode}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="usages" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Today's consumption: </label>
                            </div>
                            <div class="col-md-6">
                                <p>{{daily}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Current Month consumption: </label>
                            </div>
                            <div class="col-md-6">
                                <p>{{month}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Meter Reading: </label>
                            </div>
                            <div class="col-md-6">
                                <p>{{reading}}</p>
                            </div>
                        </div>
                    </div>
                    <p>
                        <a href="javascript:void(0)" (click)="goBack()" class="btn btn-warning">
                            Go back</a>
                    </p>
                </div>
            </div>
        </div>
    </form>
</div>
