<!-- Just an image -->
<nav class="navbar navbar-light bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img
        src="https://icons-for-free.com/iconfiles/png/512/electricity+icon-1320087270769193842.png"
        height="30"
        alt=""
        loading="lazy"
      />
    </a>
  </div>
</nav>
<div class="container-fluid" style="height: 100%; padding:0;overflow:auto;">
      <div style="height: 100%; width:100%;
      background-image: url('https://images.pexels.com/photos/45917/pexels-photo-45917.jpeg');
      background-position: 100% 100%;
      background-repeat: none; background-size: cover;">
       <router-outlet></router-outlet>
       </div>
