
<form class="form-horizontal">
  <div class="form-group row">
      <label class="col-sm-2 col-form-label">Default</label>
      <div class="col-sm-10">
          <input class="form-control" type="text" placeholder="Default input">
      </div>
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="inputPassword5">Password</label>
      <div class="col-sm-10">
          <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
          <small id="passwordHelpBlock" class="form-text text-muted">
                                                Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                                              </small>
      </div>

  </div>
  <div class="form-group row">
      <label for="input-placeholder" class="col-sm-2 col-form-label">Placeholder</label>
      <div class="col-sm-10">
          <input type="text" class="form-control" id="input-placeholder" placeholder="placeholder">
      </div>
  </div>
  <div class="form-group row">
      <label for="input-rounded" class="col-sm-2 col-sm-2 col-form-label">Rounded Input</label>
      <div class="col-sm-10">
          <input type="text" class="form-control input-rounded" id="input-rounded">
      </div>
  </div>
  <div class="form-group row">
      <label for="input-disabled" class="col-sm-2 col-form-label">Disabled Input</label>
      <div class="col-sm-10">
          <input type="text" class="form-control" id="input-disabled" placeholder="You can't type here..." disabled>
      </div>
  </div>
  <div class="form-group row">
      <label for="input-readonly" class="col-sm-2 col-form-label">ReadOnly Input</label>
      <div class="col-sm-10">
          <input type="text" class="form-control" id="input-readonly" placeholder="This is readonly input..." readonly>
      </div>
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label">Static Control</label>
      <div class="col-sm-10">
          <p class="form-control-static mt-1">email@example.com</p>
      </div>
  </div>
  <div class="form-group row">
      <label for="input-password" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
          <input type="password" name="password" class="password form-control" id="input-password" placeholder="Password">
      </div>
  </div>
  <div class="form-group row has-success">
      <label for="input-success" class="col-sm-2 col-form-label">Input with success</label>
      <div class="col-sm-10">
          <input type="text" class="form-control" id="input-success">
      </div>
  </div>
  <div class="form-group row has-warning">
      <label for="input-warning" class="col-sm-2 col-form-label">Input with warning</label>
      <div class="col-sm-10">
          <input type="text" class="form-control" id="input-warning">
      </div>
  </div>
  <div class="form-group row has-error">
      <label for="input-error" class="col-sm-2 col-form-label">Input with error</label>
      <div class="col-sm-10">
          <input type="text" class="form-control" id="input-error">
      </div>
  </div>

</form>
