<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Activation Pending Consumers</h3>
    <div class="card-body">
        <div id="table" class="table-editable">
            <span class="table-add float-right mb-3 mr-2">

      </span>
            <div class="card">
                <div class="card-body">
                    <div id="table" class="table-editable">
                        <span class="table-add float-right mb-3 mr-2">

          </span>
                        <table class="table table-bordered table-responsive-md table-striped text-center">
                            <tr>
                                <th class="text-center">Name</th>
                                <th class="text-center">CosumerId</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Action</th>
                            </tr>
                            <tr *ngFor="let person of personList; let id = index">
                                <td>
                                    <span>{{person.firstname}} {{person.lastname}}</span>
                                </td>
                                <td>
                                    <span>{{person.username}}</span>
                                </td>
                                <td *ngIf="person.status==0">
                                    <span *ngIf="person.status==0" style="color:red">{{inact}}</span>
                                </td>
                                <td *ngIf="person.status==1">
                                    <span *ngIf="person.status==1">{{act}}</span>
                                </td>
                                <td>
                                    <span class="table-remove">
                  <a routerLink="../consumers/{{person.username}}" class="btn btn-info" rounded="true" size="sm">View profile</a>
                </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Editable table -->
