<span *ngIf="state==1">
<nav class="navbar navbar-light bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">
          <!-- https://tkmce.ac.in/images/logo/header.png -->
          <img src="https://icons-for-free.com/iconfiles/png/512/electricity+icon-1320087270769193842.png" height="30" alt="" loading="lazy" />
        </a>
    </div>
</nav>
<div class="container-fluid" style="height: 100%; padding:0;overflow:auto;">
    <div style="height: 100%; width:100%;
      background-image: url('https://images.pexels.com/photos/45917/pexels-photo-45917.jpeg');
      background-position: 100% 100%;
      background-repeat: none; background-size: cover;">
        <router-outlet></router-outlet>
    </div>
</div>
<!-- <footer class="bg-dark text-center text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.959);">
    <a class="text-light" href="https://mdbootstrap.com/">Developed by TKMCE</a>
  </div>
</footer> -->
</span>

<div class="text-center" *ngIf="state==0">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
