<div class="arr">
  <div class="card">
<h3 class="card-header unique-color lighten-1 white-text text-uppercase font-weight-bold text-center py-5">KSEB BOARD LOGIN</h3>
<div class="card-body aaa">
  <div class="alert alert-danger" role="alert" *ngIf="state==0">
    Username or password is invalid ! Try again
</div>
<form method="POST" #userlogin="ngForm" (ngSubmit)="OnSubmit(userlogin.value)">
<div class="md-form input-with-post-icon">
<i class="fas fa-user input-prefix"></i>
<input type="text" id="suffixInside" class="form-control" name="username" ngModel>
<label for="suffixInside">Username </label>
</div>
<!-- Material input -->
<div class="md-form input-with-post-icon">
<i class="fas fa-lock input-prefix"></i>
<input type="password" id="inputValidationEx2" class="form-control validate" name="password" ngModel>
<label for="inputValidationEx2" data-error="wrong" data-success="right">Password</label>
</div>
<input type="submit" class="btn btn-primary" value="Login">
</form>
<div style="margin-top: 10px;" ></div>
<a href="https://mdbootstrap.com/" target="_blank">Forgot my password</a>
<button routerLink="/" class="btn btn-danger">Go to Consumer Login</button>
</div>
</div>
</div>
