<main class="content">
    <div class="container arran">

        <div class="jumbotron bg-light">
            <h2 class="panel-title">Customer Billing</h2>
            <form #bdate="ngForm" (ngSubmit)="onSubmit(bdate.value)">
                <div class="md-form input-with-post-icon">
                    <input type="date" max="{{todays}}" class="form-control" onkeydown="return false" name="billfrom" ngModel>
                    <label for="suffixInside">Bill from </label>
                </div>
                <div class="md-form input-with-post-icon">
                    <input type="date" max="{{todays}}" class="form-control" onkeydown="return false" name="billto" ngModel>
                    <label for="suffixInside">Bill to </label>
                </div>
                <div class="md-form input-with-post-icon">
                    <input type="date" id="suffixInside" class="form-control" onkeydown="return false" name="duedate" ngModel>
                    <label for="suffixInside">Last Due date </label>
                </div>
                <input type="submit" class="btn btn-success" value="Submit">
            </form>
            <hr>
            <h2>Bill Records</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">SI. No</th>
                        <th scope="col">Bill From</th>
                        <th scope="col">Bill Upto</th>
                        <th scope="col">Last Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of reversedList; let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{x.billfrom}}</td>
                        <td>{{x.billto}}</td>
                        <td>{{x.duedate}}</td>
                    </tr>
                </tbody>
            </table>
            <!--
            <form #addressForm="ngForm" class="container mt-3" (ngSubmit)="logValue()">
                <button type="button" class="btn btn-primary mb-2" (click)="addAddress()">Add Rate Slab</button>
                <section class="container border mb-4 p-3" *ngFor="let address of addresses; let i = index;">
                    <div class="row">
                        <div class="col-6">
                            <h4>Price Slab {{i + 1}}</h4>
                        </div>
                        <div class="col-6 text-right">
                            <button type="button" class="btn btn-danger btn-sm" (click)="removeAddress(i)">Remove</button>
                        </div>
                    </div>
                    <div class="col-6">

                        <div class="form-group">
                            <label>From</label>
                            <input type="number" class="form-control" [(ngModel)]="address.to" name="address_{{address.id}}" placeholder="0" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>To</label>
                            <input type="number" class="form-control" [(ngModel)]="address.from" name="street_{{address.id}}" placeholder="50" />
                        </div>
                    </div>
                    <div class="col-6">

                        <div class="form-group">
                            <label>Price</label>
                            <input type="number" class="form-control" [(ngModel)]="address.price" name="city_{{address.id}}" placeholder="5" />
                        </div>
                    </div>

                </section>

                <div class="text-right">
                    <input type="submit" class="btn btn-success" value="Submit" />
                </div>


            </form> -->
        </div>
    </div>

</main>
