<main class="content">
  <div class="container-fluid p-0">
    <div class="row mb-2 mb-xl-3">

  <div class="card card-white grid-margin">


<div class="table-responsive">
  <table id="example" class="display table" style="width: 100%;">
      <thead>
          <tr>
              <th>Bill Date</th>
              <th>Due Date</th>
              <th>Consumption</th>
              <th>Charges (Rs)</th>
              <th>Status</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>21/12/2020</td>
              <td>29/12/2020</td>
              <td>157</td>
              <td>706.5</td>
              <td>Pending</td>
              <td><button class="btn btn-primary">Pay</button></td>
          </tr>
          <tr>
            <td>21/11/2020</td>
            <td>29/11/2020</td>
            <td>163</td>
            <td>810</td>
            <td>Completed</td>
            <td>Paid</td>
        </tr>
        <tr>
          <td>21/10/2020</td>
          <td>29/10/2020</td>
          <td>153</td>
          <td>683.4</td>
          <td>Completed</td>
          <td>Paid</td>
      </tr>
      <tr>
        <td>21/09/2020</td>
        <td>29/09/2020</td>
        <td>160</td>
        <td>804.6</td>
        <td>Completed</td>
        <td>Paid</td>
    </tr>
      </tbody>
  </table>
</div>


</div>
</div>
  </div>
</main>
<!-- page-content" -->
