<main class="content">
    <div class="container-fluid p-0 arran">
        <div class="row mb-2 mb-xl-3">
            <h2 class="text-center">Transaction Records</h2>
            <div></div>
            <div class="card card-white grid-margin">

                <div class="table-responsive">
                    <table id="example" class="display table" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Bill From</th>
                                <th>Bill Upto</th>
                                <th>Consumption</th>
                                <th>Charges (Rs)</th>
                                <th>Last Due Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let x of reversedList; let i = index">
                                <td>{{x.billfrom}}</td>
                                <td>{{x.billto}}</td>
                                <td>{{x.consumed}}</td>
                                <td>{{x.charge}}</td>
                                <td>{{x.duedate}}</td>
                                <td *ngIf="x.state==0"><button class="btn btn-primary">Pay</button></td>
                                <td *ngIf="x.state==1">Paid</td>
                            </tr>

                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
</main>
<!-- page-content" -->
