<div class="arr">
    <div class="card">
        <h3 class="card-header stylish-color-dark lighten-1 white-text text-uppercase font-weight-bold text-center py-5">PASSWORD RESET</h3>
        <div class="card-body align-items-center d-flex justify-content-center">

            <form method="POST" #user="ngForm" (ngSubmit)="onSubmit(user.value)">
                <div class="pl-lg-4">
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="md-form input-with-post-icon">
                                <i class="fas fa-lock input-prefix"></i>
                                <label class="form-control-label" for="input-first-name">New password</label>
                                <input type="password" [ngModel]='users.password' class="form-control form-control-alternative" name="txtPassword" #txtPassword="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" compare-password="txtConfirmPassword" parent="true" required>
                                <span class="text-danger" *ngIf="txtPassword.dirty && txtPassword.errors && txtPassword.errors.required">Password is required </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="md-form input-with-post-icon">
                                <i class="fas fa-lock input-prefix"></i>
                                <label class="form-control-label" for="input-first-name">Verify password</label>
                                <input type="password" [ngModel]='users.confirmPassword' class="form-control form-control-alternative" name="txtConfirmPassword" #txtConfirmPassword="ngModel" compare-password="txtPassword" required>
                                <span class="text-danger" *ngIf="txtConfirmPassword.dirty && txtConfirmPassword.errors && txtConfirmPassword.errors.required">Password is required </span>
                                <span class="text-danger" *ngIf="txtConfirmPassword.dirty && ((txtPassword.errors && txtPassword.errors.compare) || (txtConfirmPassword.errors && txtConfirmPassword.errors.compare)) && !txtConfirmPassword.errors.required">Password Doesn't match</span>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="text-warning">Password must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters</span>

                <div class="d-flex justify-content-center">
                    <input type="submit" [disabled]="!user.valid" class="btn btn-success" value="Reset Password" data-toggle="modal" data-target="#exampleModal">
                    <button type="button" routerLink="/" class="btn btn-warning">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
