<main class="content arran">
  <div class="container-fluid p-0">
    <div class="row mb-2 mb-xl-3">
      <div class="col-auto d-none d-sm-block">
        <h3><strong>Dashboard</strong></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-lg-6 col-md-6 grid-margin">
          <div class="card card-white stats-widget">
              <div class="card-body">
                  <div class="float-left">
                      <span class="label label-danger mb-3">Total Registered Users</span>
                      <h4 class="stats-number">231</h4>
                  </div>
                  <div class="float-right">
                      <i class="far fa-user icon text-danger"></i>
                  </div>
                  <div class="clearfix"></div>
                  <div class="mt-2">
                  </div>
              </div>
          </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 grid-margin">
          <div class="card card-white stats-widget">
              <div class="card-body">
                  <div class="float-left">
                      <span class="label label-info mb-3">Total Electricity Consumption</span>
                      <h4 class="stats-number">34,500 units</h4>
                  </div>
                  <div class="float-right">
                      <i class="far fa-clock icon text-info"></i>
                  </div>
                  <div class="clearfix"></div>
                  <div class="mt-2">
                  </div>
              </div>
          </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 grid-margin">
          <div class="card card-white stats-widget">
              <div class="card-body">
                  <div class="float-left">
                      <span class="label label-warning mb-3">Pending Activation</span>
                      <h4 class="stats-number">34</h4>
                  </div>
                  <div class="float-right">
                      <i class="far fa-compass icon text-warning"></i>
                  </div>
                  <div class="clearfix"></div>
                  <div class="mt-2">
                  </div>
              </div>
          </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 grid-margin">
          <div class="card card-white stats-widget">
              <div class="card-body">
                  <div class="float-left">
                      <span class="label label-success mb-3">Next Billing Date</span>
                      <h4 class="stats-number">21/01/2021</h4>
                  </div>
                  <div class="float-right">
                      <i class="far fa-file icon text-success"></i>
                  </div>
                  <div class="clearfix"></div>
                  <div class="mt-2">
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="card card-white grid-margin">

   <canvas id="chart1"></canvas>

</div>

  </div>
</main>
<!-- page-content" -->
