<main class="content arran">
  <div class="container-fluid p-0">
    <div class="row mb-2 mb-xl-3">
      <div class="col-auto d-none d-sm-block">
        <h3><strong>Dashboard</strong></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-lg-6 col-md-6 grid-margin">
          <div class="card card-white stats-widget">
              <div class="card-body">
                  <div class="float-left">
                      <span class="label label-danger mb-3">Todays Consumption</span>
                      <h4 class="stats-number">4.8 units</h4>
                  </div>
                  <div class="float-right">
                      <i class="far fa-user icon text-danger"></i>
                  </div>
                  <div class="clearfix"></div>
                  <div class="mt-2">
                  </div>
              </div>
          </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 grid-margin">
          <div class="card card-white stats-widget">
              <div class="card-body">
                  <div class="float-left">
                      <span class="label label-info mb-3">Monthly Consumption</span>
                      <h4 class="stats-number">127.4 unit</h4>
                  </div>
                  <div class="float-right">
                      <i class="far fa-clock icon text-info"></i>
                  </div>
                  <div class="clearfix"></div>
                  <div class="mt-2">
                  </div>
              </div>
          </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 grid-margin">
          <div class="card card-white stats-widget">
              <div class="card-body">
                  <div class="float-left">
                      <span class="label label-warning mb-3">Monthly charge </span>
                      <h4 class="stats-number">574 Rs</h4>
                  </div>
                  <div class="float-right">
                      <i class="far fa-compass icon text-warning"></i>
                  </div>
                  <div class="clearfix"></div>
                  <div class="mt-2">
                  </div>
              </div>
          </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-6 grid-margin">
          <div class="card card-white stats-widget">
              <div class="card-body">
                  <div class="float-left">
                      <span class="label label-success mb-3">Due Date</span>
                      <h4 class="stats-number">21/01/2021</h4>
                  </div>
                  <div class="float-right">
                      <i class="far fa-file icon text-success"></i>
                  </div>
                  <div class="clearfix"></div>
                  <div class="mt-2">
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="card card-white grid-margin">
<br>
<h4>Last 7 days usages</h4><br>
<div class="table-responsive">
  <table class="table table-bordered">
      <thead>
          <tr>
              <th>#</th>
              <th>Date</th>
              <th>Consumption (units)</th>
              <th>Charges</th>
              <th>% up/down</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <th scope="row">1</th>
              <td>28/12/2020</td>
              <td>4.8 </td>
              <td>21.6</td>
              <td style="color:red">11 %</td>
          </tr>
          <tr>
              <th scope="row">2</th>
              <td>27/12/2020</td>
              <td>4.3 </td>
              <td>19.35</td>
              <td style="color:green">23 %</td>
          </tr>
          <tr>
              <th scope="row">3</th>
              <td>26/12/2020</td>
              <td>5.6 </td>
              <td>25.2</td>
              <td style="color:red">30%</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>25/12/2020</td>
            <td>4.3 </td>
            <td>19.35</td>
            <td style="color:green">0.03%</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>24/12/2020</td>
          <td>4.4 </td>
          <td>19.8</td>
          <td style="color:green">13.7%</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>23/12/2020</td>
        <td>5.1 </td>
        <td>22.95</td>
        <td style="color:red">4.08%</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>22/12/2020</td>
      <td>4.9 </td>
      <td>202.5</td>
      <td style="color:red">4.5%</td>
  </tr>
      </tbody>
  </table>
</div>


</div>

  </div>
</main>
<!-- page-content" -->
