.arr{
  margin-left:10%;
  padding-top:2%;
  margin-right:20%;
}
.aaa{
  margin-left: 5%;
  margin-right: 10%;

}
.rnd{
  border-radius: 25%;
}
.spc{
  margin-left: 5%;
}
@media only screen and (max-width: 900px) {
  .arr{
    margin-left:2%;
    padding-top:20%;
    margin-right:3%;
  }
  .aaa{
    margin-left: 0%;
    margin-right: 0%;

  }

  .spc{
    margin-left: 0px;
  }
}
