<div class="check">
    <a routerLink="new" class="btn btn-primary sizebtn btn-lg">New Consumer Registration</a>
</div>
<br>
<div class="row">
    <div class="col-md-5">
        <div class="md-form input-with-post-icon">
            <i class="fas fa-search input-prefix"></i>
            <input type="text" id="suffixInside" class="form-control" name="search" ngModel (input)="onSearchChange($event.target.value)">
            <div class="card" *ngFor="let x of options">
                <a class="card-body" routerLink="{{x.user}}">{{x.firstname}} {{x.lastname}} - {{x.user}}</a>
            </div>
        </div>
    </div>
</div>

<!-- Editable table -->
<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Consumers</h3>
    <div class="card-body">
        <div id="table" class="table-editable">
            <span class="table-add float-right mb-3 mr-2">

      </span>
            <table class="table table-bordered table-responsive-md table-striped text-center">
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">CosumerId</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Action</th>
                </tr>
                <tr *ngFor="let person of personList; let id = index">
                    <td>
                        <span>{{person.firstname}} {{person.lastname}}</span>
                    </td>
                    <td>
                        <span>{{person.username}}</span>
                    </td>
                    <td *ngIf="person.status==0">
                        <span *ngIf="person.status==0" style="color:red">{{inact}}</span>
                    </td>
                    <td *ngIf="person.status==1">
                        <span *ngIf="person.status==1" style="color:green">{{act}}</span>
                    </td>
                    <td>
                        <span class="table-remove">
              <a routerLink="{{person.username}}" class="btn btn-info" rounded="true" size="sm">View profile</a>
            </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!-- Editable table -->
